<!DOCTYPE html>
<html>

<head>
    <title>Login Successful</title>
    <title>Dashboard</title>
</head>

<body>
    <div>
        <h1>Login Successful</h1>
        <p><strong>Name</strong>: <%= name %><br /><strong>Email</strong>: <%= email %><br /></p>
        <a href="/api/v1/auth/logout">Logout</a>
    </div>
</body>

</html>