<!DOCTYPE html>
<html>

<head>
    <title>Login with Google</title>
</head>

<body>
    <div>
        <h1>Login with Google</h1>
        <a href="/api/v1/auth/register"><button>Login with Google</button></a>
    </div>
</body>

</html>